<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Inventory Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <h3> Update Inventory Item</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/inventoryItem/update/{id}(id=${inventoryItem.id})}" th:object="${inventoryItem}" method="post">
                    <div class="row">
                    	<div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Item Name</label> <input type="text" th:field="*{name}"  name="itemName" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="serialNumber" class="col-form-label">Item Serial Number</label> <input type="text" th:field="*{serialNumber}"  name="serialNumber" class="form-control" id="serialNumber" placeholder="Serial Number">
                        </div>

                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Item Description</label> <input type="text" th:field="*{description}"  name="itemDescription" class="form-control" id="description" placeholder="Description">
                        </div>
                        
                        <div class="form-group col-md-8">
                            <label for="unitPrice" class="col-form-label">Item Price per unit</label> <input type="number" th:field="*{unitPrice}"  name="itemUnitPrice" class="form-control" id="unitPrice" placeholder="0">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="manufacturerName" class="col-form-label">Item ManufacturerName</label> <input type="text" th:field="*{manufacturerName}"  name="itemManufacturerName" class="form-control" id="manufacturerName" placeholder="Manufacturer Name">
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="stock" class="col-form-label">Quantity in Stock</label> <input type="text" th:field="*{quantityInStock}" class="form-control" id="stock" placeholder="QuantityInStock">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="warehouseRackNumber" class="col-form-label">Warehouse Rack number</label> <input type="text" th:field="*{warehouseRackNumber}" class="form-control" id="warehouseRackNumber" placeholder="WarehouseRackNumber">
                        </div>
                        

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update Inventory Item">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>